.pedro{
    width: 200px;
    height: 200px;
}
.xolodilnic{
    width: 200px;
    height: 200px;
}
.chipi{
    width: 200px;
    height: 200px;
}
.fonk{
    width: 200px;
    height: 200px;
}
.bu{
    width: 200px;
    height: 200px;
}
.gipno{
    width: 200px;
    height: 200px;
}
.tualet{
    width: 200px;
    height: 200px;
}
.masha{
    width: 200px;
    height: 200px;
}
.xomyak{
    width: 200px;
    height: 200px;
}
.troll{
    width: 200px;
    height: 200px;
}
.shrek{
    width: 200px;
    height: 200px;
}
.skala{
    width: 200px;
    height: 200px;
}
.drlivsy{
    width: 200px;
    height: 200px;
}
.drim{
    width: 200px;
    height: 200px;
}
.tarakan{
    width: 200px;
    height: 200px;
}